{% extends "base.html" %}
{% block content %}
<div class="card shadow-sm rounded-4 mb-4">
    <div class="card-body">

        <h2 class="mb-4 text-center">My Jobs</h2>

        {% for job in jobs %}
        <div class="card mb-3">
            <div class="card-body">
                <h5>{{ job[1] }}</h5>
                {% if job[2] == "Open" %}
                    <span class="badge-open">Open</span>
                {% else %}
                    <span class="badge-closed">Closed</span>
                {% endif %}

                {% if job[2] == "Open" %}
                    <a href="/close_job/{{ job[0] }}" class="btn btn-danger btn-sm">Close</a>
                {% endif %}

                <a href="/view_applicants/{{ job[0] }}" class="btn btn-info btn-sm">
                    View Applicants
                </a>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}